{% load staticfiles %}
<link rel="stylesheet" href="/static/css/design1_styles.css">

<h1 class="name-main">{{people.first_name}} {{people.middle_name}} {{people.last_name}}</h1>

<img class="deceased-image" src="/static/{{image.source}}" alt="{{image.caption}}">

<section class="stats">
	<div class="life-stats">
		<h3>Date of Birth: {{people.dob}}</h3>	
	</div>

	<div class="life-stats">
		<h3>Date of Death: {{people.dod}}</h3>
	</div>
</section>


<h1 class="heading">{{bio.title}}</h1>
<p>{{bio.content}}</p>

<h1 class="heading">Survived By:</h1>
<p>{{bio.survived_by}}</p>

<h1 class="heading">Favorite Quote:</h1>
<h4>{{quote.content}}</h4>
<h4>{{quote.author}}</h4>