{% load staticfiles %}

<!-- Link to Google jQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<!-- Link to External Stylesheet -->
<link rel="stylesheet" href="/static/css/sign_up_styles.css">


<section class="side-hero">
	<h1 class="sign-up-header">Thank you for your interest in our website!</h1>
	<img class="sunset-ocean" src="/static/pics/sunset_water.jpg" alt="Beautiful sunset over ocean.">
</section>

<section class="sign-up-form">
	<form id="sign_up_form" action="create_user" method="post">
		{% csrf_token %}
		<p><input type="text" name="username" placeholder="Username"></p>
		<p><input type="email" name="email" placeholder="Email"></p>
		<p><input type="password" name="password" placeholder="Password"></p>
		<p><input type="password" name="password_conf" placeholder="Confirm Password"></p>
		<input type="submit" id="sign_up" value="Sign Up">
	</form>
</section>

<div id="div_id"></div>

<footer>
	<p>&copy Kris Kuchinka, 2016</p>
</footer>

<script src="/static/js/sign_up.js"></script>
