{% load staticfiles %}

<!-- Link to Google jQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>



<h1>Thank you for your interest in signing up for our website!</h1>

<form id="sign_up_form" action="Post">
	{% csrf_token %}
	<input type="text" name="username" placeholder="Username">
	<input type="email" name="email" placeholder="Email">
	<input type="password" name="password" placeholder="Password">
	<input type="password" name="password_conf" placeholder="Confirm Password">
	<input type="submit" id="sign_up" value="Sign Up">
</form>

<div id="div_id"></div>

<script src="/static/js/sign_up.js"></script>