/* -----------------> 
Base styling for all pages
<----------------- */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	width: 100%;
	margin: 0;	
	background-color: #C3D5E1; /*light blue/gray*/
	padding: 5%;
}

footer {
	text-align: center;
	color: white;
}

/* -----------------> 
Begin Design1 template styling 
<----------------- */


/* Design1 name styling (top of page) */
.name-main {
	text-align: center;
	color: green;
}

/* Design1 image class styling */
.deceased-image {
	width: 50%;
	display:block;
	margin-left: auto;
	margin-right: auto;
}

/* Design1 section for dob and dod display */
.stats {
	width: 100%;
	text-align: center;
}

/* Design1 dob and dod display */
.life-stats {
	display: inline-block;
	width: 35%;
}

/* Design1 H1 styling */
.heading {
	color: purple;
	text-align: center;
}

