/* -----------------> 
Base styling for all pages
<----------------- */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	width: 100%;
	margin: 0;
	background-color: #C3D5E1; /*light blue/gray*/
	padding: 5%;
}

footer {
	text-align: center;
	color: white;
}

/* -----------------> 
Begin Index page styling 
<----------------- */

.title {
	text-align: center;
}

.content {
	text-align: justify;
}

.main_pic {
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
}

nav {
	text-align: center;
	width: 100%;
}

.index-links ul li {
	padding: 5%;
	display: inline-block;
	text-decoration: none;
	font-size: 20px;
}

.index-links ul li:hover {
	text-decoration: underline;
	background-color: white;
}